<h1> Known Messages </h1>

<% if @messages.length === 0 %>
  <h2>No messages yet. Get the conversation started! </h2>
<% else %>
  <% @messages.each do |message| %>
    <h2> <%= message.user.email %> : <a href="/messages/<%= message.id %>"><%= message.message %></a></h2>
  <% end %>
<% end %>

<%= link_to 'New Message', new_message_path, remote: true %>
