

.navbar-default {
  background-color: #82dcfa;
  border-color: #E7E7E7;
}

.shark {
  margin: 5%;
}

.offer {
  margin-bottom: 5%;
}

.info {
  font-size: 15px;
  padding: 3%;

}

#debug {
  border: 1px solid black;
}

.price-title {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10%;
}

.price {
  border: 1px solid black;
  border-radius: 2px;
}

.price:hover {
  background-color: #e4f1fe;
}

.join-modal {
  margin: 5%;
  text-align: right;
}

footer {
  text-align: center;
}
 
.about{
  text-align: center;
  margin-top: 15%;
  margin-bottom: 25%;
}

.price-section {
  margin-bottom: 15%;
  margin-top: 15%;
}

.jumbotron {
    position: relative;
    background: #000 url('greenDesk3.jpeg') center center;
    width: 130%;
    height: 120%;
    background-size: cover;
    overflow: auto;
    margin-top: -21px;
    margin-left: -15%;
}



