 
body {
  background-image: url(http://wallpapercave.com/wp/3Mttadt.jpg);
  background-repeat: no-repeat;
}

.navbar-default {
    background-color: #82dcfa;
    border-color: #E7E7E7;
}

.shark {
  margin: 5%;
}

.offer {
  margin-bottom: 5%;
}

.info {
  font-size: 15px;
  padding: 3%;
}

#debug {
  border: 1px solid black;
}

.price-title {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10%;
}

.price {
  border: 1px solid black;
  border-radius: 2px;
}

.price:hover {
  background-color: #e4f1fe;
}

.join-modal {
  margin: 5%;
  text-align: right;
}

footer {
  text-align: center;
}
 
.about{
  text-align: center;
  margin-top: 15%;
  margin-bottom: 25%;
}

.price-section {
  margin-bottom: 15%;
  margin-top: 15%;
}
