ul li {
  list-style: none;
  background: whitesmoke;
}

ul li:nth-child(odd) {
  background: white; 
}

#chat-box {
  border:1px solid black;
  border-radius: 5px;
  width: 510px;
  margin: 0 auto;
  min-height: 500px;
  height: 50%;
  position: relative;
}

#bottom-chat {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
}

.submit {
  position: absolute;
  bottom: 4px;
  right: -63px;
}